<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Test.Selenium_automation.Priority"/>
      <class name="Test.Selenium_automation.ohrm"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
